# NOTE: All definitions must match database long names exactly

[CLUBS]

[NATIONS]
England: boro3.rgn, boro5.rgn, boro1.rgn, Emp_hackney_marshes_303181.RGN, 214525.RGN, 257458.RGN, 259396.RGN, 264290.RGN, 273050.RGN, 278444.RGN, 281703.RGN, 303175.RGN, 312285.RGN, 319066.RGN, 324855.RGN, 349416.RGN, 352162.RGN, 361528.RGN, 364029.RGN, 391250.RGN, 407618.RGN, Bosnia_204633.RGN, default01.RGN, default02.RGN, Emp_397043.RGN, Emp_403580.RGN, Emp_415964.RGN, Emp_asian_cup_384918.RGN, Emp_czech_fans_364208.RGN, Emp_juventus_fans_382502.RGN, eMP_MADRID_FANS_3617_361716.RGN, Emp_turkey_fan_365431.RGN, holywell01.RGN, holywell02.RGN, holywell03.RGN



[COMPS]
# NOTE: {} denotes pictures to display when comp is won

[STADIUMS]

[STAFF]
# NOTE: There is no checking done on files in this section, so if you picture fails to load
#       check the filename and player name.
#
# In order to specify a player follow these instructions:
# <firstname> <lastname> <Date of birth - d/m/yyyy>:
# 
# All the information you need can be found in the game.
# If either the first name or second name are missing, then put 
# an '*' in its place 

[AWARDS]

[TRAINING]
Misc: training1.rgn, training2.rgn, training3.rgn, training4.rgn, training5.rgn, training6.rgn, training7.rgn, training8.rgn, training9.rgn, training10.rgn, training11.rgn

[BOARDROOM]
Misc: board1.rgn

[TROPHY]
Misc: trophy1.rgn, trophy2.rgn, trophy3.rgn

[TRANSFER]
Misc: transfer1.rgn, transfer2.rgn, transfer3.rgn

[SI]
Misc: team.rgn